.bash_history
.bash_logout
.bash_profile
.cache
classgen
ClassGen
cmaketutorial
.config
configs
Desktop
.dmrc
Documents
Downloads
.git
.gitconfig
.inputrc
installer
.local
.mozilla
Music
.nv
Pictures
.pki
Projects
Public
.ssh
Templates
test
Videos
.viminfo
.Xauthority
.xsession-errors
.xsession-errors.old
